<!-- sobre.html -->
<div class="page-header">
   <h1>Firuguinhas.esy.es</h1>
   <p>Seja bem vindo, caro amigo.</p>
   <p>
   	Esse portal foi criado para facilitar a troca de figurinhas, afim de 
   	possibilitar um meio simples e eficiente de se procurar pessoas que, além de
   	colecionar o mesmo album que você, possuam as figurinhas repetidas que te 
   	faltam, assim tornando fácil e divertido o processo de se completar um álbum.
   	</p>
   	<p>Lista de usuarios cadastrados: <button ng-click="refresh();">Atualizar</button></p>
   	<ul>
   		<li ng-repeat="item in items">{{ item.id }}@{{ item.user }} - {{ item.points }}</li>
   	</ul>
</div>