<!-- login.html -->
<div class="page-header">
<h1>Entrar</h1>
	<form>
		<div class="cont">
			<p>Usuário: <input type="text" ng-model="user"/></p>
		</div>
		<div class="cont">
			<p>Senha: <input type="password" ng-model="pass"/></p>
		</div>
		<div class="cont">
			<button ng-click="login();">Entrar</button>
			<div class="g-signin2" 
				data-onsuccess="onSignIn" 
				data-theme="dark" 
				data-width="370" 
				data-height="50" 
				data-longtitle="true" 
				data-lang="pt-BR">
			</div>
		</div>
	</form>
</div>

<script>
function onSignIn(googleUser) {
	  var profile = googleUser.getBasicProfile();
	  console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
	  console.log('Name: ' + profile.getName());
	  console.log('Image URL: ' + profile.getImageUrl());
	  console.log('Email: ' + profile.getEmail());
	};
</script>

<script src="https://apis.google.com/js/platform.js" async defer></script>