<!-- signup.html -->

<div class="page-header">
	<div id="content">
	<form name="signup" class="css-form">
		<h1>Cadastrar</h1>
		<div class="cont">
			<p style="float: left">Usuário: <input type="text" name="user" ng-model="user.id" required/></p>
			<div class="rel">
				<i class="ok" ng-show="signup.user.$dirty && signup.user.$valid">
					<span></span>
				</i>
				<i class="error" ng-show="signup.user.$dirty && signup.user.$invalid">
					<span></span>
				</i>
			</div>
		</div>
		<div class="cont">
			<p style="float: left">
				Nome: <input name="name" type="text" ng-model="user.name" required/>
			</p>
			<div class="rel">
				<i class="ok" ng-show="signup.name.$dirty && signup.name.$valid">
					<span></span>
				</i>
				<i class="error" ng-show="signup.name.$dirty && signup.name.$invalid">
					<span></span>
				</i>
			</div>
		</div>	
		<div class="cont">	
			<p style="float: left">
				Senha: <input name="pass" type="password" ng-model="user.pass" required data-password-verify="user.confirm"/>
			</p>
			<div class="rel">
				<i class="ok" ng-show="signup.pass.$dirty && signup.pass.$valid && user.pass eq user.confirm">
					<span></span>
				</i>
				<i class="error" ng-show="signup.pass.$dirty && signup.pass.$invalid">
					<span></span>
				</i>
			</div>
		</div>
		<div class="cont">	
			<p style="float: left">
				Confirmar: <input name="pass" type="password" ng-model="user.confirm" required data-password-verify="user.pass"/>
			</p>
		</div>
		<div class="cont">	
			<button ng-click="signup();">Cadastrar</button>
		</div>
	</form>
	</div>
</div>