*{
	margin: 0;
	padding: 0;
}
#content{
	width: 1000px;
	margin: 60px auto;
	clear: both;
}

#header{
	position: fixed;
	height: 60px;
	width: 100%;
	z-index: 9999;
	top: 0;
}

#nav{
	width: 1000px;
	position: absolute;
	background-color: #996;
	padding: 0;
	bottom: 5px;
	border-width: 2px 0 2px 0;
	border-style: solid;
	border-color: #FFF;
	
}

#nav ul{
	margin: 0 auto;
	background-color: #EEE;
}

#nav ul li{
	display: block;
	width: 200px;
	float: left;
	line-height: 50px;
	text-align: center;
	background-color: #996;
	color: #FFF;
	margin: 2px;
	font-size: 20px;
	font-weight: bold;
}

#nav ul li:hover{
	background-color: #FFF;
	color: #996;
}

#nav a{
	text-decoration: none;
	color: inherit;
}

#view{
	width: 100%;
	height: 2000px;
	background-color: #EEE;
	
}

.manchete{
	position: relative;
	clear: both;
}
.manchete a{
	text-decoration: none;
	color: #000;
}
.manchete h1{
	width: 100%;
	text-align: center;
	background-color: #996;
	color: #FFF;
	font-size: 15px;
}

.manchete a{
	margin: 10px 5px 5px 5px;
}
.manchete img{
	height: 200px;
	width: 300px;
	margin: inherit;
	float: left;
}
.manchete h2{
	width: 650px;
	font-size: 25px;
	margin: inherit;
	float: left;
}

.manchete p{
	width: 650px;
	float: left;
}

.manchete hr{
	clear: both;
	margin: 10px;
}