<IfModule mod_rewrite.c>
  RewriteEngine On

  RewriteRule ^api/usuario/([0-9]+)/?$ /firuguinhas/api/Services/usuario.php&id=$1 [NC,L]
  RewriteRule ^api/usuario/([a-z]+)/?$ /firuguinhas/api/Services/usuario.php&user=$1 [NC,L]
</IfModule>	