<IfModule mod_rewrite.c>
  RewriteEngine On

  RewriteRule ^contato/?$ /contato.php [NC,L]
  RewriteRule ^usuario/([0-9]+)/?$ /Services/usuario.php&id=$1 [NC,L]
  RewriteRule ^usuario/([a-z]+)/?$ /Services/usuario.php&user=$1 [NC,L]
</IfModule>	